/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg{
  background: #171717;
}
.jumbo{
  font-style: normal;
font-weight: 800;
font-size: 172px;
line-height: 170px;
}

.text-gray{
  color: #EFEDE8A6;
}
.bg-red{
  background: #E6533C;
}